*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:15px;
    font-family: "Lexend Deca", serif;
    font-weight: 400;
    height:100vh;
}

img {
    width: 60px;
    margin-bottom: 1rem;
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size:3rem;
    margin-bottom: 2rem;
    color:  hsl(0, 0%, 95%);
}
p {
    line-height: 1.6;
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom: 2rem;
}

button {
    font-weight: 600;
    padding:1rem 2rem;
    border:none;
    border-radius: 2rem;
    background-color: hsla(0, 0%, 100%, 0.75);
    margin-top: auto; /* for at button alldig er i bunn av card uansett innhold */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
button:hover {
    background-color: hsla(0, 0%, 100%, 0.90);
    transform: scale(1.05);
}

.card1-btn {
    color: hsl(31, 77%, 52%);
}

.card2-btn {
    color: hsl(184, 100%, 22%);
}
.card3-btn {
    color: hsl(179, 100%, 13%);
}

section {
    display:flex;
    
}

/* CARD STYLING GENERELL */
.card{
    display:flex;
    flex-direction: column;
    padding:4rem 2rem 2rem 2rem;
    width:100%;
    max-width:300px;
    min-height:500px;

}
/* CARD STYLING - UNIKE */
.card:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}
.card:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width:768px){
    section {
        flex-direction: column;
        height:100%;
       
    }

    .card {
        margin-top: 1rem;
    }
    .card:nth-child(1) {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .card:nth-child(3) {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}